<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<base target="_parent"/>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc"-->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; Duplications</div>
</body>
</html>
