<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Spaces &rsaquo;   
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>

<frameset rows="120, *" frameborder="0">
    <frame src="/cgi-bin/koha/opac-spaces-header.pl" name="header" scrolling="no" />
    <frameset cols="200, *" frameborder="0">
        <frame src="/cgi-bin/koha/opac-spaces-menu.pl?op=<!-- TMPL_VAR NAME='op' -->" name="menu" />
        <!-- TMPL_IF NAME="booking" -->
            <frame src="<!-- TMPL_VAR NAME='SpacesUrl' -->/espaces/booking/bookingList.seam?kohaSessionId=<!-- TMPL_VAR NAME='kohaSessionId' -->" name="content" />
        <!-- TMPL_ELSIF NAME="invitation" -->
            <frame src="<!-- TMPL_VAR NAME='SpacesUrl' -->/espaces/booking/invitationList.seam?kohaSessionId=<!-- TMPL_VAR NAME='kohaSessionId' -->" name="content" />
        <!-- /TMPL_IF -->
    </frameset>
</frameset>

</html>
