<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo;   
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<base target="_parent">
</head>
<body id="opac-spaces">

<div class="yui-b">
<div class="container">
<!-- TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>

</body>
</html>
