<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Spaces &rsaquo;   
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<base target="_parent">
</head>
<body id="opac-spaces">

<!-- TMPL_INCLUDE name="masthead.inc" -->

</body>
</html>
